<div class="booking" [ngStyle]="{'background-attachment': contact?'scroll':'fixed'}">
    <div fxFlex="60" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.md=" center"
    fxLayoutAlign.xs=" center" fxLayoutAlign.sm=" center" fxLayoutGap="10px">
        <div>
            <h1 *ngIf="contact" style="margin-bottom: 10px;">Get in touch with our team</h1>
            <h1 *ngIf="!contact">Book a viewing</h1>
            <p *ngIf="!contact">(For now viewing limited to site only)</p>
            <div class="mailing">
                <form action="mailto:info@eliselabone.com"
                method="POST"
                enctype="multipart/form-data"
                name="EmailForm" class="example-form" >
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input color="white" matInput name="ContactName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput name="ContactMail">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Phone</mat-label>
                        <input matInput name="ContactPhone">
                    </mat-form-field>
                    <br>
                    <button
                    type="submit" value="Submit"
                        style="background-color: #f9d7ae; border-radius: 0px; font-family: Verdana Bold;padding:5px; padding-left:20px;padding-right:20px; font-size: 12px; font-weight:'bold'"
                        mat-flat-button>SUBMIT</button>
                </form>

            </div>
        </div>
        <a class="default" href="https://wa.link/xuc1lp" mat-button target="_blank"><img style="width: 120px;"
            src="../../assets/image/whatsapp.png" /></a>
        <!-- <a class="float" href="https://wa.link/xuc1lp" mat-button target="_blank"><img style="width: 40px;"
            src="../../assets/image/whatsapp_icon.png" /></a> -->
        <div class="floating-chat">
            <!-- <i class="fa fa-comments" aria-hidden="true"></i> -->
            <!-- <a href="https://wa.link/xuc1lp" mat-button target="_blank"><img style="width: 120px;"
                src="../../assets/image/whatsapp.png" /></a> -->
            <div class="chat">
                <div class="header">
                    <span class="title">
                        what's on your mind?
                    </span>
                    <button>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>

                </div>
                <ul class="messages">
                    <li class="other">🍌</li>
                    <li class="self">🔥</li>
                </ul>
                <div class="footer">
                    <div class="text-box" contenteditable="true" disabled="true"></div>
                    <button id="sendMessage">send</button>
                </div>
            </div>
        </div>


    </div>
</div>