<div class="container">
    <div class="inner_container">
        <button mat-icon-button mat-dialog-close (click)="close()">
            <mat-icon style="color:#f9d8ae ;">close</mat-icon>
        </button>
        <ul class="links">
            <li [ngStyle]="{'color': url=='/interiors'? '#f9d7ae':'white'}" (click)="goTo('/interiors')">INTERIORS</li>
            <li [ngStyle]="{'color': url=='/plans'? '#f9d7ae':'white'}" (click)="goTo('/plans')">BLOCK & FLOOR PLANS
            </li>
            <li [ngStyle]="{'color': url=='/purchase'? '#f9d7ae':'white'}" (click)="goTo('/purchase')">PURCHASE OPTIONS
            </li>
            <li style="border-width: 0px;" [ngStyle]="{'color': url=='/contact'? '#f9d7ae':'white'}"
                (click)="goTo('/contact')">CONTACT</li>
        </ul>
    </div>
    <br>
    <p>
        <mat-icon svgIcon="mail"></mat-icon> info@eliselabone.com
    </p>
</div>