.container {
  background-image: url('../../assets/image/background_dark.png') !important;

  background-size: cover !important;
}
@media only screen and (max-width: 700px){
  .container{
    background-size: cover !important;

  }
}

.active {

  color: #f9d7ae;
}

.inner_container {
  height: 50%;
  padding-top: 10%;
  padding-bottom: 0%;
  background-color: #1a1e23;
  display: flex;
  border-width: 0px;

  flex-direction: column;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #484b4f;
}

ul.links {
  list-style-type: none;
  display: flex;
  height: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 4%;
  color: white;
  margin-bottom: 0px;
  justify-content: space-between;

  li {
    font-family: 'Verdana Bold';
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    border-width: 0px;
    max-width: 75%;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #484b4f;
  }

  li:hover {
    color: #f9d7ae;
  }
}

p {
  margin-left: 10%;
  color: white;
  margin-top: 5%;

  font-size: 13px;
}
