<div class="container">

    <div class="inner_container">

        <app-navbar></app-navbar>

        <img style="margin-top: 70px; margin-bottom: 10px" class="wave-icon" src="../../assets/image/wave.png" />
        <p class="banner" style="margin-bottom: 30px;">Contact us</p>
    </div>


    <app-booking></app-booking>

<div class="sacoma_">
    <!-- <img style="width:200px;" class="wave-icon" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02.png" /> -->
    <br>
    <p style="font-family: OpenSans-Bold; font-size: 22px">About Sacoma</p>
    <br>
    <p >Sacoma Capital Markets (SCM) was established in 2008.</p>
    <p >The principals of SCM have been involved in the residential and commercial real estate space for over 20 years.</p>
        <p style="color: #f9d7ae; font-family: OpenSans-Bold; margin-bottom: 0px;
        ">Past and current projects includes the following:</p>
        <ul>
            <li>Development of a collection of 6 well-appointed town houses in Airport Residential Area</li>
            <li>Development of a collection of 4 premium town houses in Abelemkpe Residential Area</li>
            <li>Development of a collection of 4 premium town houses in Abelemkpe Residential Area</li>
            <li>Establishment of a 3 Star hotel located in Airport Residential Area which is currently being
                expanded from 80 to 100 rooms, scheduled for completion in September 2021</li>
            </ul>
</div>
    <!-- FOOTER -->
    <div class="footer inner_container" fxLayout="row" fxLayoutAlign="space-between center">
        <img style="width:100px;" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />

        <div>
            <p>
                <mat-icon svgIcon="mail"></mat-icon> info@eliselabone.com
            </p>
            <small>Copyright © 2021. All Rights Reserved. Eliselabone</small>
        </div>
    </div>
</div>