.sacoma_{
    background-color: #1a1e23;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

ul{
    padding-left: 18px;
    margin-top: 0px;

}

@media only screen and (max-width: 400px) {
    .booking {
      height: 120% !important;
    }
  }