* {
  font-family: 'Open sans';

  /* font-size: 17px; */
}

@font-face {
  font-family: 'Majesti';
  src: url("../fonts/Majesti Banner/Majesti-Banner-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Open sans';
  src: url("../fonts/Open sans/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana/Verdana.ttf") format("opentype");
}

@font-face {
  font-family: 'Verdana Bold';
  src: url("../fonts/Verdana/Verdana Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/Open sans/OpenSans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'Verdana Bold Italic';
  src: url("../fonts/Verdana/Verdana Bold Italic.ttf") format("opentype");
}

@font-face {
  font-family: 'Verdana Italic';
  src: url("../fonts/Verdana/Verdana Italic.ttf") format("opentype");
}


*:focus {
  outline: none;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) {
  color: white;
}

.container {
  background-image: url('../image/background.png') !important;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  background-color: #2f373f;
  width: 100%;
  position: relative;
}

.inner_container {
  padding-left: 10%;
  padding-right: 10%;
}

.sacoma-logo {
  width: 8.125vw;
  max-width: 130px;
  align-self: center;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .footer {
    small {
      font-size: 6.5px !important;
    }
  }
}

.sacoma {
  height: 100%;
  position: absolute;
  right: 0;
  width: 12%;
  background-color: #f9d7ae;
}

@media only screen and (max-width: 900px) {
  .sacoma {
    width: 100px;
    height: 100px !important;
    height: auto;
    display: none;
    background-color: #efefef;

    div {
      // position: absolute;
      align-self: center;
      background-color: #efefef !important;
      width: 100%;
      height: 100px !important;
    }

    mat-icon {
      display: none;
    }

    .sacoma-logo {
      display: none;
    }
  }


}

.full-screen-modal .mat-dialog-container {
  max-width: none;
  padding: 0px;
  border-radius: 0px;
}

.elise_logo {
  cursor: pointer;
  font-family: Majesti;
  font-size: 30px;
  margin-bottom: 0 !important;
  color: #f9d8ae;
}

.banner {
  // font-size: 75vw;
  font-size: 76px;
  color: #f9d8ae;
  line-height: 30px;
  font-family: Majesti;
  font-weight: unset;
  line-height: 64px;
  letter-spacing: -3px;
}

@media only screen and (max-width: 700px) {
  .banner {
    font-size: 50px;
    line-height: 45px;
  }

  .wave-icon {
    width: 90px;
  }

  .container {
    background-size: 260%;
    background-position: top;
    // background-repeat: repeat-y;
  }
}

.footer {
  background-image: url('../image/background_dark.png') !important;
  height: 20%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1a1e23;
  width: 100%;
  /* //   position: relative; */
  color: white;
  text-align: right;

}

@media only screen and (max-width: 1210px) {
  .footer {
    // text-align: left;
    padding-top: 3%;
    padding-bottom: 3%;

    small {
      font-size: 8px;
    }

    img {
      width: 90px !important;
    }

    p {
      font-size: 10px;
      margin-bottom: -6px;
    }

    .mat-icon {
      height: 12px;
      width: 12px;
    }
  }
}
