.sacoma {
  height: 50%;
}



:host {
  ::ng-deep .mat-icon.mat-icon.notranslate.mat-icon-no-color.ng-star-inserted {
    width: auto !important;
    height: auto !important;
    overflow: overlay !important;
  }

  @media only screen and (max-width: 900px) {
    ::ng-deep.mat-icon.mat-icon.notranslate.mat-icon-no-color.ng-star-inserted {
      height: 180% !important;
      overflow: overlay !important;

    }
  }

  ::ng-deep .mat-mini-fab.mat-primary {
    background-color: white;
  }

  ::ng-deep .mat-mini-fab.mat-primary.mat-button-disabled,
  .mat-mini-fab.mat-warn.mat-button-disabled,
  .mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: black !important;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }

  // ::ng-deep .carousel-indicators {
  //   bottom: 10% ;
  // }
}

::ng-deep.carousel>button {
  top: 30% !important;
}

.slideName {
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #fff;
  width: 35%;
  position: absolute;
  margin: 0 auto;
  margin-bottom: -170px;
  left: 32.5%;
  bottom: -2px;

  p {
    text-align: center;
    color: #2d343c;
    font-weight: bold;
    transition: 0.2s;
  }
}

@media only screen and (min-width: 900px) {
  :host {
    ::ng-deep .carousel-indicators {
      bottom: 10% !important;
    }
  }

  // :host {
  //   ::ng-deep .mat-icon.mat-icon.notranslate.mat-icon-no-color.ng-star-inserted {
  //     width: 50% !important;
  //     height: 50% !important;

  //     svg {
  //       fill: '#fff'
  //     }
  //   }
  // }
}

@media only screen and (max-width: 900px) {
  :host {
    ::ng-deep .carousel-indicators {
      bottom: 20% !important;
    }
  }
}

// .slideNameDiv {
//   padding-top: 5px;
//   padding-bottom: 4px;
//   background-color: #fff;
//   width: 35%;
//   position: absolute;
//   margin: 0 auto;
//   left: 32.5%;
//   margin-bottom: 20px;
//   bottom: -2px;
// }


// @media only screen and (max-width: 1280px) {
//   .slideNameDiv {
//     width: 60%;
//   }
// }
