ul.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  margin: 0px;
  margin-bottom: -11px;
  li {
    margin-right: 20px;
    font-family: 'Verdana Bold';
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
  }

  li:hover {
    color: #f9d7ae;
  }
}
// button{
//   // color: #f9d7ae;
//   // font-family: 'Verdana Bold';
// }
._sacoma{
  position: absolute;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  // height: 70px;
  right:0;
  img{
    width:70%
  }
  top:0;
  // background-color: #efefef;
}
.linksDropdown {
  display: none;
  .mat-icon-button{
    height: 28px;
    width: 28px;
    line-height: 0px;
    // margin-top: 20px;
  }
  .mat-icon-button .mat-icon {
    line-height: 28px;
  }
}

.header {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 50px;

  p {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 900px) {
  ._sacoma{
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  ul.links {
    display: none;
  }
  .header {
    padding-top: 25px;
  }
  .elise_logo {
    // margin-left: 50%;
    // align-self: start;
    width: 100%;
    margin-right: 0px;
    text-align: center;
    // position: absolute;
  }
  .linksDropdown{
    display: block;
  }
}

.active {

  color: #f9d7ae;
}
