<div class="header">
    <div class="linksDropdown">
        <button mat-icon-button (click)="openDialog()">
            <mat-icon  style="color:white">menu</mat-icon>
        </button>
    </div>
    <p class="elise_logo" [routerLink]="[ '/home' ]">ELISE</p>
    <ul class="links">
        <li routerLinkActive="active" [routerLink]="[ '/interiors' ]">INTERIORS</li>
        <li routerLinkActive="active" [routerLink]="[ '/plans' ]">BLOCK & FLOOR PLANS</li>
        <li routerLinkActive="active" [routerLink]="[ '/purchase' ]">PURCHASE OPTIONS</li>
        <li routerLinkActive="active" [routerLink]="[ '/contact' ]">CONTACT</li>
    </ul>
    <div class="_sacoma">
            <img src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />
    </div>
</div>
<!-- <app-menu></app-menu> -->