.mainText {
  //   position: absolute;
  // font-size: 28em;
  font-size: 28vw;
  text-align: center;
  //   align-self: center;
  font-family: Majesti;
  line-height: 70%;
  z-index: 5;
  width: 100%;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0 auto;
  color: #f9d8ae;
}
// @media only screen and (max-width: 1080px) {
//   .mainText {
//       font-size: 24em
//     }
//   }
.container {
  background-image: url('../../assets/image/background_with_color.png') !important;
}
@media only screen and (max-width: 700px) {

  .container {
    background-position: center;
    background-size: cover;
  }
}
.dev {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: Verdana;
}

.canvas {
  position: absolute;
  top: 30%;
  width: 100%;
}

.welcome {
  top: 80%;
  width: 150px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto;

  p {
    padding-right: 15px;
    color: white;
    margin: 0px;
    font-family: Verdana;
}
}

.welcome:hover {
    opacity: 0.8;
}
.arrow{
  margin-left: 10px;
  animation: animate-arrow 1s ease-in-out infinite 0.1s;
}
@keyframes animate-arrow {
  0%{transform:translateX(-20px);opacity: 0;}
  100%{transform:translateX(0px);}
}