<div class="container">
    <div class="canvas">
        <p class="mainText">ELISE</p>
        <p class="dev">Developed by Sacoma</p>
    </div>
    <div style="width: 100%; display: flex; justify-content: center; align-items:center">
        <div class="welcome" [routerLink]="[ '/home' ]">
            <p>WELCOME </p>
            <mat-icon class="arrow" svgIcon="right"></mat-icon>
        </div>
    </div>
</div>