<div class="container">
    <div class="sacoma">
        <div style="width:100%; height:30%; background-color: #000; display: flex;
        justify-content: center; align-items: center;">
            <img class="sacoma-logo" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />
        </div>

        <mat-icon style="margin-top: 40%; margin-left: 15%;" svgIcon="gridLines"></mat-icon>

    </div>
    <div class="inner_container">

        <app-navbar></app-navbar>

        <img style="margin-top: 70px; margin-bottom: 10px;" class="wave-icon" src="../../assets/image/wave.png" />
        <p class="banner" style="margin-bottom: 30px;">Purchase Options</p>
    </div>

    <div class="schedule">
        <img src="../../assets/image/purchase.png"/>
        <div>
            <mat-icon style="margin-left: 12%;  width: 70px; height: 70px;" svgIcon="date"></mat-icon>
            <p style="font-family: OpenSans-Bold ;">Schedule an appointment</p>
            <p>Our mortgage partners are:<br>
                Republic Bank, FNB Bank (Former GHL Bank),<br>
                and Stanbic Bank</p>
        </div>
    </div>

    <app-booking></app-booking>


    <!-- FOOTER -->
    <div class="footer inner_container" fxLayout="row" fxLayoutAlign="space-between center">
        <img style="width:100px;" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />

        <div>
            <p>
                <mat-icon svgIcon="mail"></mat-icon> info@eliselabone.com
            </p>
            <small>Copyright © 2021. All Rights Reserved. Eliselabone</small>
        </div>
    </div>
</div>