.schedule {
  background-image: url('../../assets/image/purchase.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  background-color: #efefef;
  height: 70%;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  text-align: left;
  position: relative;

  img {
    display: none;
    width: 100%;
  }

  p {
    margin-left: 12%;
  }
}

@media only screen and (max-width: 1130px) {
  .schedule {
    justify-content: space-between;
    background-image: none !important;
    height: unset !important;
    padding-bottom: 20px;
    img {
      display: block;
    }
  }
}
@media only screen and (max-width: 700px) {
      .schedule {
        p:nth-child(3){
          font-size: 13px;
        }
      }

}

.sacoma {
  height: 50%;
  background-color: white;
}
