/* You can add global styles to this file, and also import other style files */
html, body { margin: 0; height: 100%;padding:0}
@import "assets/css/styles.scss";

html, body { height: 100%; }
body { margin: 0;}


*{
    font-family: 'Open sans';
    p{

        font-size: 17px;
    }
}