.container {
  background-attachment: fixed;
}

.location {
  background-image: url('../../assets/image/location-7.gif') !important;
  height: 100%;
  background-color: #efefef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: '5%';
  width: 80%;
}

button {
  border: none;
}

.subtext {
  color: white;
  font-size: 19px;
  line-height: 24px;

  width: 40%;

}

.features {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f8fc;
  padding-bottom: 5%;
  padding-top: 5%;

  li {
    font-size: 17px;
    margin-bottom: 15px;
  }

  ul {
    margin-left: 8%;
  }
}

.features_div {
  .fam-image {
    width: 550px;
    z-index: 2;
  }
}

.circle {
  width: 50px;
  position: absolute;
  z-index: 0;
  background-color: #F9D7AE;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  // align-self: center;
  // top: 0;
  // bottom: 0;
  // margin-bottom: 80px;
  transition: 0.4s;
}

.location-div {
  margin-top: 100px;

  p {
    color: white;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1280px) {

  // .circle {
  //   margin-bottom: 50px;
  // }
  mat-grid-tile.specs {
    background-color: unset !important;
  }

  .location-div {
    margin-top: 0px;
    background-image: none !important;

    p {
      color: black;
      margin-top: 2%;
    }

    height: 37em;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    justify-content: center;
    background-color: #efefef;
    width: 100%;
  }

  .location {
    width: 100%;
    left: 0;
    // margin-top: 50px;
    right: 0;
    background-color: unset;
    height: unset;
  }

  .features_div {
    .fam-image {
      // position: absolute;
      left: 0;
      right: 0;
      width: 100vw;
    }
  }
}

.black {
  display: none;
}

.yeppp {
  right: 10%;
  margin-left: auto;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: min-content;
}

// @media only screen and (max-width: 500px) {

//   .location-div {
//     .location {
//       margin-top: 50%;
//     }
//   }
// }
a.float{
  display: none;

}
@media only screen and (max-width: 1279px) {

  a.float {
    display: block !important;
    position: fixed;
    z-index: 5000;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    margin-bottom: 20px;
    // align-self: flex-end;
  }
}
@media only screen and (max-width: 700px) {
  .location-div :not(:first-child) {
    font-size: 14px;
  }

  ._carousel {
    left: 0;
    right: 0;
    position: absolute;
    margin-bottom: 100px;
  }

  ::ng-deep .carousel-slide-content {
    position: unset !important;
  }

  .features_div {
    margin-top: 68%;
  }

  .yeppp {
    // margin-top: 50px;
    right: 0px;
    // bottom: 5%;
    display: inline-block;
    margin-top: auto;
    display: flex;
    align-self: flex-end;
    position: absolute;
  }

  .subtext {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .black {
    display: block;
  }

  .features {
    li {
      font-size: 13px;
      margin-bottom: 0px;
    }
    ul{
      margin-left: 0px;
    }
    .wave-icon {
      // width: unset;
      margin-top: 3%;
    }
  }

  .circle {
    width: 40px !important;
    height: 40px !important;
  }

  ._icon {
    width: 50px !important;
  }

  .__icon {
    width: 30px !important;

  }

  .tile {
    p {
      font-size: 12px;
      line-height: 14px;
      margin-top: 0% !important;
    }
  }
}

._icon {
  width: 70px;
  z-index: 2;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.4s;
}

.__icon {
  width: 50px;
  z-index: 2;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.4s;
}

.tile {
  p {
    transition: 0.4s;
    margin-top: 20%;
  }
}

.tile:hover {
  cursor: pointer;

  .circle {
    // animation: shake 2s;
    // animation-iteration-count: infinite;
    width: 70px;
    height: 70px;
    // background-color: #1a1e23;
    // height: 60px;
  }

  p {
    margin-top: 40%;
  }

  ._icon {
    width: 90px;

  }

  .__icon {
    width: 70px;

  }
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: 'white' !important;

}

.example-full-width {
  color: 'white' !important;
  width: 100%;
}

.mat-grid-tile {
  overflow: visible !important;
}

mat-grid-tile.specs {
  background-color: white;
  transition: 0.3s;
  p {
    font-size: 14px;
  }

  overflow: visible;
}

mat-grid-tile.specs:hover {
  box-shadow: 1px 2px 42px -19px rgba(0, 0, 0, 0.281);
  -webkit-box-shadow: 1px 2px 42px -19px rgba(0, 0, 0, 0.281);
  -moz-box-shadow: 1px 2px 42px -19px rgba(0, 0, 0, 0.281);
}

mat-grid-list {
  padding: 0px;
}

.grid-layout-custom {
  // width: 30vw;
  // height: 50vh;
  text-align: center;
}

a {
  font-weight: bold;
  color: #2d343c;
}
