<div class="container">
    <a class="float" href="https://wa.link/xuc1lp" mat-button target="_blank"><img style="width: 40px;"
        src="../../assets/image/whatsapp_icon.png" /></a>
    <div class="sacoma">
        <div style="width:100%; height:15%; background-color:black; display: flex;
        justify-content: center; align-items: center;">
            <img class="sacoma-logo" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />
            <img class="sacoma-logo black" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_black.png" />
        </div>

        <mat-icon style="margin-top: 40%; margin-left: 15%;" svgIcon="gridLines"></mat-icon>

    </div>
    <div class="inner_container">
        <app-navbar></app-navbar>


        <img style="margin-top: 70px; margin-bottom: 10px;" class="wave-icon" src="../../assets/image/wave.png" />
        <p class="banner">The Golden Standard<br>in Luxury</p>
        <!-- <p class="banner"></p> -->
        <p class="subtext" style="margin-top: 20px; margin-bottom: 100px;">A residential development, located in the
            heart of North Labone residential area in Dade Link.</p>
        <!-- <p class="subtext" style=""></p> -->

        <mat-carousel class="_carousel" timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent"
            maxWidth="auto" proportion="62" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="true"
            [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide"
                overlayColor="#00000040" [hideOverlay]="true">
            </mat-carousel-slide>
        </mat-carousel>
        <div class="yeppp">
            <div (click)="prevslide()"
                style="padding-left:10px; padding-top:5px;padding-bottom: 5px; padding-right:10px; cursor:pointer">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                    height="17" viewBox="0 0 27 17">
                    <image id="Vector_Smart_Object_copy_7" data-name="Vector Smart Object copy 7" width="27" height="17"
                        xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAARCAYAAAAsT9czAAAAoUlEQVQ4jb3VsQlCMRRG4U9ECysbO0tbl3MBF9DeAXQBB7ARSysLwUJsrJzgVcqDGxAeWiU5VSCXHJLc/PGHEY64/y7JwxAHvHEqKRpgH6ILxp2KTPSxC9ENk1KiHjYhemDaqcjIKkRPzEqKliF6Yd6ZzUR7dAusY7ktzoVc11bWRKuXpqm6szSocmffVOtGtd+ZmgmSqJaNiWqpn8j7n+EDdTMqyme1B0sAAAAASUVORK5CYII=" />
                </svg>
            </div>
            <div (click)="nextslide()"
                style="padding-left:10px; padding-top:5px;padding-bottom: 5px; padding-right:10px; cursor:pointer">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                    height="17" viewBox="0 0 27 17">
                    <image id="Vector_Smart_Object_copy_9" data-name="Vector Smart Object copy 9" width="27" height="17"
                        xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAARCAYAAAAsT9czAAAAoUlEQVQ4jb3VsQlCMRRG4U9EBSub11naWFg5hEu4hQO4wBvABVzAAWzECewsxMbKBcRGEW4XnlWSUwXuJYdLkj8ycsMJ45ybdnHGB0cMO3qyMcElhAcMSgsbXEO4Rz/pyMwU9xDu0CstnOERwjapFmCBZwi3YsQV5oWES6xjvfnJXhglbfl5V50sqWYkObNSVLuN1d5ZtQSpmo1VU///f4Yv630nISDnr8cAAAAASUVORK5CYII=" />
                </svg>
            </div>
            <!-- <script>
                function a (e){
                    console.log(e)
                }
            </script> -->
        </div>






    </div>
    <div class="inner_container features_div" style="background-color: white; z-index: 1000;">
        <img style="margin-top: 70px; margin-bottom: 10px;" class="wave-icon" src="../../assets/image/wave-cream.png" />


        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"
            fxLayoutAlign="space-between center">
            <div fxLayout="column" fxFlex="40" fxFlex.md="100" fxFlex.sm="100">

                <p>A timeless collection of 10 semi-detached town house residences with a wonderful balance of formal
                    and
                    informal living spaces all with a contemporary feel throughout yet harnessing beautiful functional
                    features.
                </p>
                <br>
                <mat-grid-list class="grid-layout-custom" cols="2" rowHeight="2:1.5">
                    <mat-grid-tile>
                        <div class="tile" fxLayout="column" fxLayoutAlign=" center">
                            <img class="__icon" src="../../assets/icons/location.png" />
                            <div class="circle"></div>
                            <br>
                            <br>
                            <br>
                            <!-- <br> -->
                            <p>North Labone<br>residential area</p>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="tile" fxLayout="column" fxLayoutAlign=" center">
                            <img class="_icon" src="../../assets/icons/bed.png" />
                            <img class="circle" src="../../assets/icons/circle.png" />
                            <br>
                            <br>
                            <br>
                            <!-- <br> -->
                            <p>4 Bedrooms</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="tile" fxLayout="column" fxLayoutAlign=" center">
                            <img class="_icon" src="../../assets/icons/tape.png" />
                            <img class="circle" src="../../assets/icons/circle.png" />
                            <br>
                            <br>
                            <br>
                            <!-- <br> -->
                            <p>300sqm</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="tile" fxLayout="column" fxLayoutAlign="c center">
                            <img class="_icon" src="../../assets/icons/tag.png" />
                            <img class="circle" src="../../assets/icons/circle.png" />
                            <br>
                            <br>
                            <br>
                            <!-- <br> -->
                            <p>$750,000</p>
                        </div>

                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <img fxFlex="55" fxFlex.md="100" class="fam-image" src="../../assets/image/fam.jpg" />
            <!-- <div style="width: 550px; height: 400px;background-image: url('../../assets/image/fam.jpg') "></div> -->
            <!-- <mat-icon style="margin-top: 60%; margin-left: 15%;" svgIcon="gridLines"></mat-icon> -->




        </div>
    </div>

    <!-- LOCATION -->
    <div class="container location-div" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"
        fxLayoutAlign="space-between" fxLayoutAlign.md="space-between center" fxLayoutAlign.sm="space-between center"
        fxLayoutAlign.xs="space-between center">
        <div fxFlex="25">
            <p class="banner" style=" margin-left: 10%; margin-bottom: 0px;">Location</p>
            <img style="margin-left: 10%; " class="wave-icon" src="../../assets/image/wave-cream.png" />

            <p style="margin-left: 10%; margin-right: 10%;">
                A residential development, located in the heart
                of North Labone residential area in Dade Link.
            </p>
            <p style="margin-left: 10%; margin-right: 10%;">
                Dade Link runs from
                Ndabaningi Sithole Road
                to the south, to Dade Street to the east which links
                Cantonments to Labone,
                offering residents schools, restaurants, bars and shopping all within close walking distance to the
                home.
            </p>
        </div>
        <div class="location" fxFlex="75" fxFlex.md="50" fxFlex.xs="50" fxFlex.sm="50">
            <a href="https://maps.app.goo.gl/NYm1SRPvwssYkyXf8" target="_blank"
                style="margin-left: 5%; position:relative; top:90%">Open Google Map</a>
        </div>
    </div>

    <div class="inner_container features">
        <p class="banner" style="color:#2f373f;">Features & Specifications</p>
        <img class="wave-icon" src="../../assets/image/wave-cream.png" />

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"
            fxLayoutAlign="space-between center" fxLayoutAlign.md="space-between" fxLayoutAlign.sm="space-between"
            fxLayoutAlign.xs="space-between" style="margin-top: 50px;">
            <div fxFlex="40" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
                <mat-grid-list [gutterSize]="'10px'" class="grid-layout-custom" cols="2" rowHeight="1:1">
                    <mat-grid-tile class="specs">
                        <div fxLayout="column" fxLayoutAlign="center center">

                            <img style="width: 80px;" src="../../assets/icons/Icons-08.png" />

                            <p>Attached<br>
                                staff quarters</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="specs">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <img style="width: 100px;" src="../../assets/icons/Icons-06.png" />
                            <p>Backup<br>
                                Generator</p>
                        </div>

                    </mat-grid-tile>
                    <mat-grid-tile class="specs">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <img style="width: 85px;" src="../../assets/icons/Icons-05.png" />
                            <p>CCTV cameras<br>
                                & intercom units</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="specs">
                        <div fxLayout="column" fxLayoutAlign="center center">

                            <img style="width: 100px;" src="../../assets/icons/Icons-07.png" />
                            <p>Optional<br>
                                swimming pools</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
                <ul>
                    <li>Air conditioning units in all rooms</li>

                    <li>European fitted kitchens with appliances;
                        cooker, hob, extractor etc.</li>

                    <li>PVC windows</li>

                    <li>European sanitary ware</li>

                    <li>Durable wooden doors & wardrobes</li>

                    <li>Spanish/Italian porcelain tiles</li>

                    <li>Landscape gardens & car parking</li>

                    <li>Cable TV provision</li>

                    <li>Internet access</li>

                    <li>Water reservoir & pressurized water supply</li>

                </ul>
            </div>

        </div>
    </div>


    <!-- BOOKING -->
    <app-booking></app-booking>



    <!-- FOOTER -->
    <div class="footer inner_container" fxLayout="row" fxLayoutAlign="space-between center">
        <img style="width:100px;" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />

        <div>
            <p>
                <mat-icon svgIcon="mail"></mat-icon> info@eliselabone.com
            </p>
            <small>Copyright © 2021. All Rights Reserved. Eliselabone</small>
        </div>
    </div>




</div>