<div class="container">
    <div class="sacoma">
        <div style="width:100%; height:30%; background-color: #d9d9d9; display: flex;
        justify-content: center; align-items: center;">
            <img class="sacoma-logo" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_black.png" />
        </div>

        <mat-icon style="margin-top: 40%; margin-left: 15%;" svgIcon="gridLines"></mat-icon>

    </div>
    <div class="inner_container">
        <app-navbar></app-navbar>

        <img style="margin-top: 70px; margin-bottom: 10px" class="wave-icon" src="../../assets/image/wave.png" />
        <p class="banner" style="margin-bottom: 30px;">Block & Floor Plans</p>
    </div>
    <mat-carousel #carouselComponent timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary"
        maxWidth="100%" proportion="40" slides="2" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
        [useKeyboard]="true" [useMouseWheel]="false" orientation="ctr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide"
            overlayColor="#00000000" [hideOverlay]="true">
        </mat-carousel-slide>
    </mat-carousel>
    <div class="slideInfo">
        <div class="slideName">
            <p>{{slideName}}</p>
        </div>
        <br>
        <hr>
        <br>
        <p class="details">{{details}}</p>
    </div>

    <app-booking></app-booking>


    <!-- FOOTER -->
    <div class="footer inner_container" fxLayout="row" fxLayoutAlign="space-between center">
        <img style="width:100px;" src="../../assets/Sacoma logo/Sacoma Logo reverse 800x800-02_.png" />

        <div>
            <p>
                <mat-icon svgIcon="mail"></mat-icon> info@eliselabone.com
            </p>
            <small>Copyright © 2021. All Rights Reserved. Eliselabone</small>
        </div>
    </div>
</div>