.sacoma {
  height: 50%;
  background-color: white;
}

:host {
  ::ng-deep .mat-icon.mat-icon.notranslate.mat-icon-no-color.ng-star-inserted {
    width: auto !important;
    height: auto !important;
    overflow: overlay !important;
  }
  @media only screen and (max-width: 900px) {
    ::ng-deep.mat-icon.mat-icon.notranslate.mat-icon-no-color.ng-star-inserted {
      height: 180% !important;
      overflow: overlay !important;
    }
  }
  ::ng-deep .mat-mini-fab.mat-primary {
    background-color: white;
  }
}

.slideInfo {
  // height: ;
  width: 100%;
  // position: static;
  // z-index: 200;
  background-color: #efefef;
  display: flex;
  padding-top: 20px;
  top: -2px;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.slideName {
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #f9d8ae;
  width: 35%;

  p {
    text-align: center;
    color: #2d343c;
    font-weight: bold;
    margin: 0;
    transition: 0.2s;
  }
}
@media only screen and (max-width: 700px) {
  .slideName {
    width: 65%;
  }
  hr{
    display: none;
  }
  .details {
    width: 80% !important;
    font-size: 13.5px;
  }
}

.details {
  width: 60%;
}

hr {
  width: 60%;
  border-color: #c6c6c6;
  border-style: solid;
}

:host {
  ::ng-deep .carousel-slide {

    background-size: contain !important;
    background-color: #efefef;

  }

  ::ng-deep .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled,
  .mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: black !important;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }

  ::ng-deep .carousel {
    background-color: #efefef;
    padding-bottom: 50px;
    padding-top: 50px;

  }
}
